@import "bootstrap/dist/css/bootstrap.min.css";
@import '../node_modules/react-draft-wysiwyg/dist/react-draft-wysiwyg.css';

.App {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.bg-primary-custom {
  background: rgba(253, 187, 45, 1);
}

.bg-secondary-custom {
  background: rgba(34, 193, 195, 1);
}
