@import 'bootstrap/dist/css/bootstrap.min.css';

.pagination>li>a {
    background-color: white;
    color: #dc3545;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #dc3545;
    background-color: #eee;
    border-color: #ddd;
}

.pagination>.active>a {
    color: white;
    background-color: #dc3545;
    border: solid 1px #dc3545;
}

.pagination>.active>a:hover {
    background-color: #dc3545;
    border: solid 1px #dc3545;
}

.pagination>.active>a {
    background-color: #dc3545 !important;
    border: solid 1px #dc3545 !important;
}
